<!DOCTYPE html>
<html>
<head>
    <title>RMC Comments</title>
</head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel = "stylesheet" href = "public/style.css">
  {{> navigationBarPartial}}
<body>
  <form method = "POST" id = "comment">
<br>
<div class="commentText">
    <label for="commentlabel">Comment</label>
    <textarea class="form-control" rows="10" id="comment">
    </textarea>
</div>
<button type="submit" class="btn btn-primary">Submit</button>
  </form>
{{> constScriptsPartial}}
</body>

<footer>
</footer>
</html>
