    <link rel = "stylesheet" href = "/public/style.css">
  {{> navigationBarPartial}}
<div class="page-container">
  <form method = "POST" id = "comment">
<br>
<div class="commentText">
    <label for="commentlabel">Comment</label>
    <textarea class="form-control" rows="10" id="commentlabel">
    </textarea>
</div>
<button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div>
{{> constScriptsPartial}}
{{> footerPartial}}
