<!DOCTYPE html>
<html>
<head>
    <title>RMC CoursePage</title>
</head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel = "stylesheet" href = "public/style.css">
  {{> navigationBarPartial}}
<body>
  <h1><u>Course Page</u></h1>
<!-- <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Course Names</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><a href = "/courses">Introduction to Computer Science </a></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
    </tr>
  </tbody>
</table> -->
<div class="container-fluid">
    <table id="total votes" class="table table-hover text-centered">
        <thead>
            <tr>
                <th>Course Code</th>
                <th>Course Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href = "/courses/">CS115</a></td>
                <td>Introduction to Computer Science </td>
                <td>{{ total_voter_a }}</td>
                <td>{{ total_voter_b }}</td>
            </tr>
        </tbody>
    </table>
</div>
{{> constScriptsPartial}}
</body>
{{> footerPartial}}
</html>
