<!DOCTYPE html>
<html>
<head>
    <title>RMC CoursePage</title>
</head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel = "stylesheet" href = "public/style.css">
  {{> navigationBarPartial}}
<body
<h1>Need to implement a table where each element box is a class. Route to CourseInfo.handlebars and display the data with tag for reviewing specific class.</h1>
{{> constScriptsPartial}}
</body>
{{> footerPartial}}
</html>
