    <link rel = "stylesheet" type = "text/css" href = "/public/style.css">
  {{> navigationBarPartial}}
<div class="page-container">
  <div class="page-content">
  <h1>Courses</h1>
<div class="container-fluid">
    <table id="total votes" class="table table-hover text-centered">
        <thead>
            <tr>
                <th>Course Code</th>
                <th>Course Name</th>
            </tr>
        </thead>
        {{#each courses}}
        <tbody>
            <tr>
                <td><a href = "/courses/code/{{this.courseCode}}">{{this.courseCode}}</a></td>
                <td><a href = "/courses/code/{{this.courseCode}}">{{this.courseName}}</a></td>
            </tr>
        </tbody>
        {{/each}}
    </table>
</div>
</div>
</div>
{{> constScriptsPartial}}
{{> footerPartial}}
