<!DOCTYPE html>
<html>
<head>
    <title>RateMyCourse</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
{{> navigationBarPartial}}
<body>
    <h1>Rate My Course</h1>
    <h1><small>For all your student needs</small></h1>
    <form class = "SearchBar" method = "GET">
      <input type="search" id="inputSearch"  placeholder="Enter Search Query">
    </form>
{{> constScriptsPartial}}
</body>
<footer>
</footer>
</html>
