<!DOCTYPE html>
<html>
<head>
    <title>RateMyCourse</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel = "stylesheet" href = "/public/home.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
 {{> navigationBarPartial}}
<body>
  <div class="page-container">
    <h1>Rate My Course</h1>
    <h1><small>For all your student needs</small></h1>
    <br>
      <!-- <div align "right"class="col-lg-3 center-block">
    <div class="input-group md-form form-sm form-1 hpl-0">
    <div class="input-group-prepend">
      <span class="input-group-text purple lighten-3" id="basic-text1"><i class="fas fa-search text-white"
          aria-hidden="true"></i></span>
  </div>
    <input class="form-control my-0 py-1" type="text" placeholder="Search" aria-label="Search">
  </div>
</div> -->
<section id="cover">
    <div id="cover-caption">
        <div id="container" class="container">
            <div class="row text-white">
                <div class="col-sm-6 offset-sm-3 text-center">
                    <div class="info-form">
                        <form action="/search" class="form-inlin justify-content-center" method="post" enctype="application/x-www-form-urlencoded">
                            <div class="form-group">
                                <label class="sr-only">Name</label>
                                <input id = "searchInput" type="text" class="form-control" placeholder="Search Courses by name or Code" name="searchInput">
                                <br>
                                <button type="submit" class="btn btn-success">Search!</button>
                            </div>
                            {{#if errors2}}
                            <p>Error: Course does not exist</p>
                            {{/if}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
</div>
{{> constScriptsPartial}}
{{> footerPartial}}
</body>
</html>
