<!DOCTYPE html>
<html>
<head>
    <title>RMC Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel = "stylesheet" href = "/public/main.css">
</head>
<body>
  {{> navigationBarPartial}}
  <div class="page-container">
  {{!-- <div class="page-content"> --}}
    <h1>Login</h1>
   <form method = "POST" id = "login" enctype="application/x-www-form-urlencoded" action = "/login">
  <div class="input-group input-group-lg">
  <div class="form-group form-group-lg">
    <label for="InputEmail1">Email address</label>
    <input type="email" class="form-control" id="inputEmail1" name = "inputEmail"  placeholder="Enter email" required>
      </div>
</div>
  <div class="form-group">
    <div class="input-group input-group-lg">
    <div class="form-group form-group-lg">
    <label for="inputPassword1">Password</label>
    <input type="password" class="form-control" name = "inputPassword" id= "inputPassword1" placeholder="Password" required>
      </div>
      </div>
  </div>
  <div class="form-check">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<!--Handlebars for if Username/Password is not verified.-->
{{#if errors}}
<p>Error: Not a valid Username/Password</p>
{{/if}}
    <p>Need to make an account?<a href = "/createAccount"> Click here!</a></p>

{{!-- </div> --}}
</div>
{{> constScriptsPartial}}
{{> footerPartial}}
<script src="tota11y.min.js"></script>
</body>
</html>
