<!DOCTYPE html>
<html>
<head>
    <title>RMC Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel = "stylesheet" type = "text/css" href = "/style.css">
</head>
  {{> navigationBarPartial}}
<body>
    <h1><u>Login</u></h1>
   <form method = "POST" id = "login">
  <div class="input-group input-group-lg">
  <div class="form-group form-group-lg">
    <label for="InputEmail1">Email address</label>
    <input type="email" class="form-control" id="inputEmail"  placeholder="Enter email">
      </div>
</div>
  <div class="form-group">
    <div class="input-group input-group-lg">
    <div class="form-group form-group-lg">
    <label for="InputPassword1">Password</label>
    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
      </div>
      </div>
  </div>
  <div class="form-check">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<!--Handlebars for if Username/Password is not verified.-->
{{#if errors}}
<p>Error: Not a valid Username/Password</p>
{{/if}}
    <p>Need to make an account?<a href = createacc.handlebars> Click here!</a></p>
{{> constScriptsPartial}}
</body>
<footer>
</footer>
</html>
