<!DOCTYPE html>
<html>
<head>
  <title>
    Logout!
  </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel = "stylesheet" href = "/public/main.css">          
  <link rel = "stylesheet" href = "/public/style.css">
</head>
<body>
<p>You have been logged out!</p>
<a href = "/">Head back to the Homepage! </a>
{{> constScriptsPartial}}
</body>
{{> footerPartial}}
</html>
