{{> navigationBarPartial}}
  <div class="page-container">
    {{#if posted}}
        <h1>Review Posted</h1>
        <p>Thank you. Your review has been posted.</p>
    {{/if}}
</div>
{{> constScriptsPartial}}
{{> footerPartial}}
<script src="tota11y.min.js"></script>
