{{> navigationBarPartial}}
  <div class="page-container">
    {{#if posted}}
        <h1>Review Posted</h1>
        <p>Thank you. Your review has been posted.</p>
    {{/if}}
    {{#if deleted}}
    <h1>Review Deleted</h1>
    <p>Your review has been deleted.</p>
    <p><a href="/myProfile">Go back to your profile</a></p>
    {{/if}}
</div>
{{> constScriptsPartial}}
{{> footerPartial}}
<script src="tota11y.min.js"></script>
