<!DOCTYPE html>
<html>
<head>
    <title>RMC Review</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel = "stylesheet" href = "public/css/review.css">
</head>
{{> navigationBar}}
<body>
    <h1><u>Review Form</u></h1>
    <form>
     <div class = "course">
            <label for = "courseCode">Course Code</label>
            <input type = "text" class = "form-control" id = "courseCodeinput">
        </div>
        <br>
        <div class = "tags">
            <label for = "tag">Tags</label>
            <input type = "text" class = "form-control" id = "tagInput">
            <ol id = "totalTags"></ol>
        </div>
        <br>
        <div class = "rating">
        <label for = "rate">Rating (1-5)</label>
        <input type = "number" class = "form-control" id = "ratingInput" min="1" max="5">
    </div>
        <br>
        <br>
    <div class="review">
        <label for="reviewLabel">Description</label>
        <textarea class="form-control" rows="10" id="comment">
        </textarea>
</div>
    </form>
    {{> constScripts}}
</body>
<footer>
</footer>
</html>
