{{> navigationBarPartial}}
  <div class="page-container">
    {{#if posted}}
        <h1>Review Posted</h1>
        <p>Thank you. Your review has been posted.</p>
    {{/if}}
    {{#if deleted}}
    <h1>Review Deleted</h1>
    <p>Your review has been deleted.</p>
    {{/if}}
    {{#if comment}}
    <h1>Comment Deleted</h1>
    <p>Your comment has been deleted.</p>
    {{/if}}
    {{#if alreadyPosted}}
    <h1>Review Exists</h1>
    <p>You already reviewed this course.</p>
    <p><a href="/courses/code/{{code}}">Go to course page.</a></p>
    {{/if}}
    <p><a href="/myProfile">Go back to your profile</a></p>
</div>
{{> constScriptsPartial}}
{{> footerPartial}}
