<!DOCTYPE html>
<html>
<head>
    <title>RMC Review</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel = "stylesheet" href = "/public/main.css">
    <link rel = "stylesheet" href = "/public/style.css">
    <link rel = "stylesheet" href = "public/review.css">
</head>
{{> navigationBarPartial}}
<body>
  <div class="page-container">
    {{#if posted}}
        <h1>Review Posted</h1>
        <p>Thank you. Your review has been posted.</p>
    {{/if}}
    {{#if hasErrors}}
        <h1>Review Post Failure</h1>
        <p>Sorry! There was a technicaly difficulty and your review could not be posted at this time.</p>
    {{/if}}
</div>
{{> constScriptsPartial}}
{{> footerPartial}}
<script src="tota11y.min.js"></script>
</body>
</html>
