body {
    background: rgb(247,254,255);
    background: linear-gradient(180deg, rgba(247,254,255,1) 0%, rgba(0,212,255,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}

nav {
    background: rgb(247,254,255);
    background: linear-gradient(180deg, rgba(247,254,255,1) 0%, rgba(0,212,255,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

footer{
    bottom: 10px;
    text-align: center;
    position: absolute;
    width: 100%;
}

.page-container {
    position: relative;
    min-height: 100%;
}

.page-content {
    padding: 0 20px 50px 20px;
}

.topRated {
    margin: 0 auto;
    text-align: center;
    display: inline-table;
    border-style: solid;
    padding: 50px;
    color: black;
    background: #F2F2F3;
}

#login {
    display: inline-block;
    border-style: solid;
    padding: 20px;
    width: fit-content;
    margin-bottom: 20px;
    background: #F2F2F3;
}

#profilePage {
    display: inline-block;
    border-style: solid;
    padding: 20px;
    width: 65%;
    margin-bottom: 20px;
    background: #F2F2F3;
}

.profile-table {
    background: white;
    border-radius: 5px;
    width: 80%;
    margin: 0px auto;
    margin-bottom: 15px;
    float: none;
    /* table-layout: fixed; */
}

#profile {
    width: fit-content;
    margin-top: 1rem;
}

.profile-table th, .profile-table td {
    padding: 4px 10px;
    border: 1px black solid;
}

thead {
  text-align: center;
}

a {
    color: #00789b;
}

#searchError {
    color: black
}

#searchtype {
    width: fit-content;
    display:inline-block;
    margin: 5px 0 15px 0;
}

/* #searchDiv {
    display: inline-block;
} */