form {
    display: inline-table;
    border-style: solid;
    padding: 50px;
    background: #F2F2F3;
}

.rating {
    display: inline-table;
    width: 300px

}

.professors {
    display:inline-table;

}


.review {
    display: inline-table;
    width: 600px
}
