/* .page-container {
  position: relative;
} */

footer{
  bottom: unset;
  margin-top: -30px;
  height: 50px;
}

#account {
  display: inline-block;
  border-style: solid;
  background: #F2F2F3;
  padding: 20px;
  width: 30%;
  margin-bottom: 20px;
}

.table {
    background: white;
    border-radius: 5px;
    width: 50%;
    margin: 0px auto;
    float: none;
}

thead {
  text-align: center;
}

/* Styling for /templates/courseInfo */
.coursepage {
  display: inline-block;
  border-style: solid;
  padding: 20px;
  width: 65%;
  margin-bottom: 20px;
  background: #F2F2F3;
  border-radius: 10px;
}

.coursepage p {
  font-size: 20px;
}

.coursepage ul {
  font-size: 18px;
}

div.professors{
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:fit-content;
  line-height: 1;
}

div.professors>ul {
  padding:0;
  list-style: none;
}

div.description{
  text-align:justify;
  display:block;
  margin-left:auto;
  margin-right:auto;
  width: 85%;
  /* padding: 0px 25px; */
}

#professor{
  width:fit-content;
  border:black 2px solid;
}

.indivReview{
  background: white;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border:gray 1px solid;
  border-radius: 5px;
  text-align: left;
  padding: 15px;
  line-height: 1;
  margin-top: 20px;
  margin-bottom: 10px
}

.indivReview p {
  font-size: 16px;
}

.tags p{
  display: inline-block;
}

.tag {
  display: inline-block;
  background: lightgray;
  border-radius:2px;
  width: fit-content;
  margin-bottom: 1rem;
  margin-left: 5px;
  padding: 4px 8px;
}

.tag p {
  margin:1px;
  font-size: 14px;
}

#reply {
  text-align: right;
  font-size: 1em;
  margin-bottom: 0;
}

.rev {
  margin-bottom:10px;
  line-height: 1.4em;
}

form.option {
  display: inline-block;
}

/* .indivReview {

} */

#ratings-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  background: #F2F2F3;
  padding: 20px;
  width: 45%;
  margin-bottom: 20px;
}

#coursecodeInput, #ratingInput {
  display: inline-block;
  width: fit-content;
  margin-left: 5px;
  /* margin-right: auto; */
}

textarea#comment {
  width: 90%;
  margin-right:auto;
  margin-left:auto;
}
