.page-container {
  position: relative;
}

footer{
  bottom: unset;
  margin-top: -30px;
  height: 50px;
}

#account {
  display: inline-block;
  border-style: solid;
  background: #F2F2F3;
  padding: 20px;
  width: 30%;
  margin-bottom: 20px;
}

.table {
    background: white;
    border-radius: 5px;
    width: 50%;
    margin: 0px auto;
    float: none;
}

thead {
  text-align: center;
}

/* Styling for /templates/courseInfo */
#coursepage {
  display: inline-block;
  border-style: solid;
  padding: 20px;
  width: 65%;
  margin-bottom: 20px;
  background: #F2F2F3;
}

#coursepage p {
  font-size: 20px;
}

#coursepage ul {
  font-size: 18px;
}

div.professors{
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:fit-content;
  line-height: 1;
}

div.professors>ul {
  padding:0;
  list-style: none;
}

div.description{
  text-align:justify;
  display:block;
  margin-left:auto;
  margin-right:auto;
  width: 85%;
  /* padding: 0px 25px; */
}

#professor{
  width:fit-content;
  border:black 2px solid;
}