body {
background: rgb(247,254,255);
background: linear-gradient(180deg, rgba(247,254,255,1) 0%, rgba(0,212,255,1) 100%);
background-repeat: no-repeat;
background-attachment: fixed;
text-align: center;
}

nav {
background: rgb(247,254,255);
background: linear-gradient(180deg, rgba(247,254,255,1) 0%, rgba(0,212,255,1) 100%);
background-repeat: no-repeat;
background-attachment: fixed;
}


form {
    display: inline-block;
    border-style: solid;
    padding: 50px;
    background: #F2F2F3;
}

footer{
  position:absolute;
  bottom:0;
  width:100%;
  height:100px;
  bottom:0;
}

.table {
    background: white;
    border-radius: 5px;
    width: 50%;
    margin: 0px auto;
    float: none;
}
thead {
  text-align: center;
}
