<nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="#">Rate My Course</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto">
  <li class="nav-item active">
    <a class="nav-link" href="index.html">Home<span class="sr-only">(current)</span></a>
  </li>
  <!-- {{#if notVerified}} -->
<li class="nav-item active">
    <a class="nav-link" href="login.handlebars">Login<span class="sr-only">(current)</span></a>
  </li>
  <!-- {{/if}} -->
  <!-- Verified/unverified format for navBar -->
  <!-- {{#if verified}}
  <li class="nav-item active">
      <a class="nav-link" href="myprofile.handlebars">Login<span class="sr-only">(current)</span></a>
    </li>
    {{/if}} -->
<li class="nav-item active">
    <a class="nav-link" href="review.handlebars">Reviews<span class="sr-only">(current)</span></a>
  </li>
<li class="nav-item active">
    <a class="nav-link" href="comment.handlebars">Comments<span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item dropdown">
  </li>
</ul>
</div>
</nav>
